/**/
span.c31 {
    margin-left: 3em
    }
span.c30 {
    margin-left: 4em
    }
span.c29 {
    margin-left: 2em
    }
span.c28 {
    margin-left: 4.5em
    }
span.c27 {
    margin-left: 1.5em
    }
h2.c26 {
    font-style: italic
    }
table.c25 {
    padding: 3% 0% 3% 5%
    }
img.c24 {
    padding-top: 5%;
    padding-bottom: 5%
    }
img.c23 {
    padding-top: 15%
    }
img.c22 {
    padding-top: 10%
    }
table.c21 {
    padding: 3% 7% 3% 7%
    }
table.c20 {
    padding: 3% 8% 3% 8%
    }
table.c19 {
    padding: 3% 5.25% 3% 5.25%
    }
table.c18 {
    padding: 3% 9.5% 3% 9.5%
    }
table.c17 {
    padding: 3% 2.75% 3% 2.75%
    }
table.c16 {
    padding: 3% 9% 3% 9%
    }
table.c15 {
    padding: 3% 5.5% 3% 5.5%
    }
img.c14 {
    padding-top: 5%
    }
table.c13 {
    padding: 3% 9.25% 3% 9.25%
    }
table.c12 {
    padding: 3% 14% 18% 14%
    }
img.c11 {
    padding: 5%
    }
table.c10 {
    padding: 3% 3% 3% 3%
    }
table.c9 {
    padding: 3% 8.5% 3% 8.5%
    }
table.c8 {
    padding: 3% 5% 3% 5%
    }
img.c7 {
    padding: 0%
    }
img.c6 {
    padding-bottom: 5%
    }
table.c5 {
    padding: 3% 6% 3% 6%
    }
table.c4 {
    padding: 2%
    }
table.c3 {
    padding: 3% 10% 3% 10%
    }
td.c2 {
    font-style: italic
    }
table.c1 {
    background-color: #fff
    }
/**/