/**/
p.c17 {
    margin-bottom: 2em
    }
p.c16 {
    text-align: left
    }
h3.c15 {
    font-style: italic
    }
div.c14 {
    width: 100%;
    overflow: auto
    }
hr.c13 {
    margin-left: 27.5%;
    width: 45%
    }
p.c12 {
    text-align: left
    }
span.c11 {
    font-size: 75%
    }
td.c10 {
    font-style: italic
    }
span.c9 {
    font-size: large
    }
p.c8 {
    font-size: large
    }
span.c7 {
    font-size: x-large
    }
span.c6 {
    margin-left: 1em
    }
hr.c5 {
    margin-left: 42.5%;
    width: 15%
    }
span.c4 {
    font-weight: bold;
    margin-left: 1em
    }
span.c3 {
    margin-left: 2em
    }
p.c2 {
    font-style: italic
    }
h1.c1 {
    text-align: left
    }
/**/